In [5]:
# Importing Dependencies

import requests
import json
import pprint
import pandas as pd
from pandas import json_normalize
import time
from key import API_KEY

In [6]:
# Establishing base variables and utilizing loops to call for data on multiple coordinates and storing that information in a list

data = []
places_url = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?&key={API_KEY}'

coords = ["41.927826, -87.652016", "40.38, -75.77", "40.6239, -75.3937", "40.1769, -75.1020", "39.9683, -75.1750", "40.4737, -79.9612"]
keywords = ["food", "establishments", "bars", "meal_takeaway", "point_of_interest", "establishment", "resturant", "cafe"]

for i in coords:
    params = {
            "location": i,
            "radius": 50000,
            "keyword": keywords
    }

    response = requests.get(places_url, params=params).json()
    next_page_token =  response['next_page_token']

    page = 1
    
# Creating a nested while loop to repedietely utilize the next page token found in the json to gather more data entries with a limit of < 10 pages

    while page < 10:
        print(f'Appending page {page}')
        page +=1
        params = {
           "location": i,
           "radius": 50000,
           "keyword": keywords,
           "pagetoken": next_page_token
       }

        time.sleep(1)

        response = requests.get(places_url, params=params).json()
        data.append(response)

Appending page 1
Appending page 2
Appending page 3
Appending page 4
Appending page 5
Appending page 6
Appending page 7
Appending page 8
Appending page 9
Appending page 1
Appending page 2
Appending page 3
Appending page 4
Appending page 5
Appending page 6
Appending page 7
Appending page 8
Appending page 9
Appending page 1
Appending page 2
Appending page 3
Appending page 4
Appending page 5
Appending page 6
Appending page 7
Appending page 8
Appending page 9
Appending page 1
Appending page 2
Appending page 3
Appending page 4
Appending page 5
Appending page 6
Appending page 7
Appending page 8
Appending page 9
Appending page 1
Appending page 2
Appending page 3
Appending page 4
Appending page 5
Appending page 6
Appending page 7
Appending page 8
Appending page 9
Appending page 1
Appending page 2
Appending page 3
Appending page 4
Appending page 5
Appending page 6
Appending page 7
Appending page 8
Appending page 9

In [7]:
# Taking json data from data variable and storing each page of json in corresponding lists #
# This line can be used to print out all data entries...pprint.pprint(data)

chicago_data = []
chicago_data.append(data[0:9])
#------------------------------------------------------------------------------------------#
oley_data = []
oley_data.append(data[10:19])
#------------------------------------------------------------------------------------------#
beth_data = []
beth_data.append(data[20:29])
#------------------------------------------------------------------------------------------#
horsham_data = []
horsham_data.append(data[30:39])
#------------------------------------------------------------------------------------------#
north_philly_data = []
north_philly_data.append(data[40:49])
#------------------------------------------------------------------------------------------#
pitts_data = []
pitts_data.append(data[50:59])

In [8]:
# Taking the lists and utilizing the json_normalize function to convert each json page into a dataframe

chicago_df = pd.json_normalize(chicago_data[0], record_path=["results"])
chicago_df = chicago_df[["name", "business_status", "rating", "price_level", "types", "vicinity", "geometry.location.lat", "geometry.location.lng"]]
chicago_df
#------------------------------------------------------------------------------------------#
oley_df = pd.json_normalize(oley_data[0], record_path=["results"])
oley_df = oley_df[["name", "business_status", "rating", "price_level", "types", "vicinity", "geometry.location.lat", "geometry.location.lng"]]
#oley_df
#------------------------------------------------------------------------------------------#
beth_df = pd.json_normalize(beth_data[0], record_path=["results"])
beth_df = beth_df[["name", "business_status", "rating", "price_level", "types", "vicinity", "geometry.location.lat", "geometry.location.lng"]]
#beth_df
#------------------------------------------------------------------------------------------#
horsham_df = pd.json_normalize(horsham_data[0], record_path=["results"])
horsham_df = horsham_df[["name", "business_status", "rating", "price_level", "types", "vicinity", "geometry.location.lat", "geometry.location.lng"]]
#horsham_df
#------------------------------------------------------------------------------------------#
north_philly_df = pd.json_normalize(north_philly_data[0], record_path=["results"])
north_philly_df = north_philly_df[["name", "business_status", "rating", "price_level", "types", "vicinity", "geometry.location.lat", "geometry.location.lng"]]
#north_philly_df
#------------------------------------------------------------------------------------------#
pitts_df = pd.json_normalize(pitts_data[0], record_path=["results"])
pitts_df = pitts_df[["name", "business_status", "rating", "price_level", "types", "vicinity", "geometry.location.lat", "geometry.location.lng"]]
pitts_df

,name,business_status,rating,price_level,types,vicinity,geometry.location.lat,geometry.location.lng
0,Mad Mex,OPERATIONAL,4.2,2.0,"[restaurant, food, point_of_interest, establis...","2101 Greentree Rd, Pittsburgh",40.390556,-80.072500
1,Chick-fil-A,OPERATIONAL,4.5,1.0,"[restaurant, food, point_of_interest, establis...","120 Andrew Dr, Pittsburgh",40.451051,-80.175018
2,Arby's,OPERATIONAL,4.0,1.0,"[meal_takeaway, restaurant, food, point_of_int...","808 Liberty Ave, Pittsburgh",40.442575,-79.998718
3,Wendy's,OPERATIONAL,3.9,1.0,"[restaurant, food, point_of_interest, establis...","113 Cavasina Dr, Canonsburg",40.263782,-80.173265
4,Ephesus Pizza,OPERATIONAL,4.2,1.0,"[meal_delivery, restaurant, food, point_of_int...","219 Fourth Ave, Pittsburgh",40.439986,-80.002326
...,...,...,...,...,...,...,...,...
75,Arby's,OPERATIONAL,4.1,1.0,"[meal_takeaway, restaurant, food, point_of_int...","19075 Perry Hwy, Seven Fields",40.672590,-80.099168
76,Wendy's,OPERATIONAL,3.8,1.0,"[restaurant, food, point_of_interest, establis...","8703 University Blvd, Moon Twp",40.506018,-80.222661
77,Salim's Middle Eastern Food,OPERATIONAL,4.6,NaN,"[restaurant, food, point_of_interest, establis...","4705 Centre Ave, Pittsburgh",40.452792,-79.949479
78,honeygrow,OPERATIONAL,4.4,2.0,"[restaurant, food, point_of_interest, establis...","105 S Highland Ave, Pittsburgh",40.461052,-79.924704
79,First Watch,OPERATIONAL,4.5,2.0,"[restaurant, food, point_of_interest, establis...","5235 Clairton Blvd, Pittsburgh",40.343740,-79.970230

In [13]:
# Concatenating all data entries into a single dataframe to prepare for exportation

all = [chicago_df, oley_df, beth_df, horsham_df, north_philly_df, pitts_df]
all_df = pd.concat(all)
all_df.rename(columns = {'geometry.location.lat':'Latitude', 'geometry.location.lng':'Longitude'}, inplace = True)
chicago_df.rename(columns = {'geometry.location.lat':'Latitude', 'geometry.location.lng':'Longitude'}, inplace = True)
oley_df.rename(columns = {'geometry.location.lat':'Latitude', 'geometry.location.lng':'Longitude'}, inplace = True)
beth_df.rename(columns = {'geometry.location.lat':'Latitude', 'geometry.location.lng':'Longitude'}, inplace = True)
horsham_df.rename(columns = {'geometry.location.lat':'Latitude', 'geometry.location.lng':'Longitude'}, inplace = True)
north_philly_df.rename(columns = {'geometry.location.lat':'Latitude', 'geometry.location.lng':'Longitude'}, inplace = True)
pitts_df.rename(columns = {'geometry.location.lat':'Latitude', 'geometry.location.lng':'Longitude'}, inplace = True)

In [10]:
# Exporting dataframe with all entries to a csv file for implementation in Tableau

all_df.to_csv(path_or_buf="establishment_data")
chicago_df.to_csv(path_or_buf="chicago_csv")
oley_df.to_csv(path_or_buf="oley_csv")
beth_df.to_csv(path_or_buf="beth_csv")
horsham_df.to_csv(path_or_buf="horsham_csv")
north_philly_df.to_csv(path_or_buf="north_csv")
pitts_df.to_csv(path_or_buf="pitts_csv")